<!DOCTYPE html> 
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
    <title>CIMS - Home</title>
</head>
<body>
    <nav class="nav nav-tabs">
        <a class="nav-link active" href="/home/">Home</a>
        <a class="nav-link" href="/assets/">Assets</a>
        <a class="nav-link" href="/maintenance/">Maintenance</a>
        <a class="nav-link" href="/reports/">Reports</a>
        <a class="nav-link" href="/settings/">Settings</a>
    </nav>
    <div>
        <h1>Home</h1>
        <h2>Welcome to the CSIS Inventory and Maintenance System!</h2>
    </div>
</body>


