<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
    <head>
        <title>Maintenance - Update</title>
    </head>
    <body>
        <div class="row">
            <nav class="nav nav-tabs">
                <a class="nav-link" href="/home/">Home</a>
                <a class="nav-link" href="/assets/">Assets</a>
                <a class="nav-link active" href="/maintenance/">Maintenance</a>
                <a class="nav-link" href="/reports/">Reports</a>
                <a class="nav-link disabled" href="/settings/">Settings</a>
            </nav>
        </div>
        <div class="row">
            <div class="container w-50">
                <h1 class="pt-3 pb-3">Update Maintenance Record</h1>
                <form method="post">
                    {%csrf_token%}
                    {{form}}
                    <input type="submit" value="Update Record" class="btn btn-outline-primary"/>
                </form>
            </div>
        </div>
    </body>
</html>