<!DOCTYPE html> 
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
    <head>
        <title>Assets - New</title>
    </head>

    <body>
        <div class="row">
            <nav class="nav nav-tabs">
                <a class="nav-link" href="/home/">Home</a>
                <a class="nav-link active" href="/assets/">Assets</a>
                <a class="nav-link" href="/maintenance/">Maintenance</a>
                <a class="nav-link" href="/reports/">Reports</a>
                <a class="nav-link" href="/settings/">Settings</a>
            </nav>
        </div>
            <div class="container w-50">
                <div class="text-center"> 
                    <h1 class="pt-3 pb-3">New Asset</h1>
                    <p>Please enter relevant asset information including but not limited to the Asset's manufacturer, model, serial number, and location. Purchase date, EOL Date, and Notes are optional.</p>
                    <div>
                        <!--Form to add an asset is displayed and view on the backend adds the asset data to the database. Inputs and required fields are handled by Django view.-->
                        <form action="{{object.id}}"method="post">
                            {% csrf_token %}
                            {{ form }}
                            <div class='pt-3'>
                                <input type="submit" value = "Create Asset" class="btn btn-outline-primary">
                            </div>
                            </form>
                    </div>          

                </div>
        </div>

    </body>
</html>

