<!DOCTYPE html> 
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
    <head>
        <title>Assets - New</title>
    </head>

    <body>
        <div class="row">
            <nav class="nav nav-tabs">
                <a class="nav-link" href="/home/">Home</a>
                <a class="nav-link active" href="/assets/">Assets</a>
                <a class="nav-link" href="/maintenance/">Maintenance</a>
                <a class="nav-link" href="/reports/">Reports</a>
                <a class="nav-link" href="/settings/">Settings</a>
            </nav>
        </div>
            <div class="container">
                <div class="text-center"> 
                    <h1>New Asset</h1>          
                    <form action="{{object.id}}"method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value = "Create Asset" class="form-control btn btn-primary">
                    </form>
                </div> 

        </div>

    </body>
</html>

