<!DOCTYPE html> 
<head>
    <title>Assets - New</title>
</head>
<body>
    <h1>New Asset</h1>
    <form>
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="manufacturer"><br>

        <label for="model">Model:</label>
        <input type="text" id="model" name="model"><br>

        <label for="serial">Serial Number:</label>
        <input type="text" id="serial" name="serial"><br>

        <label for="cost">Cost:</label>
        <input type="text" id="cost" name="cost"><br>
        <br><br>
        <input type="submit" value="Add Asset">
    </form>
</body>
