<!DOCTYPE html> 
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
    <head>
        <title>Assets - Update</title>
    </head>
    <body>
        <div class="row">
            <nav class="nav nav-tabs">
                <a class="nav-link" href="/home/">Home</a>
                <a class="nav-link active" href="/assets/">Assets</a>
                <a class="nav-link" href="/maintenance/">Maintenance</a>
                <a class="nav-link disabled" href="/reports/">Reports</a>
                <a class="nav-link disabled" href="/settings/">Settings</a>
            </nav>
        </div>
        <div class="container w-50">
            <div class="text-center">
                <h1 class="pt-3 pb-3">Update Asset</h1>
                <!--Form is displayed for the user to update the asset in the database. Inputs and updates are handled by the Django view.-->
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value = "Update Asset" class="btn btn-outline-primary">
                </form>
            </div>

        </div>

    </body>
    
</html>

