<!DOCTYPE html> 
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
    <head>
        <title>Assets - Details</title>
    </head>
    <body>
            <div class="row">    
                <nav class="nav nav-tabs">
                    <a class="nav-link" href="/home/">Home</a>
                    <a class="nav-link active" href="/assets/">Assets</a>
                    <a class="nav-link" href="/maintenance/">Maintenance</a>
                    <a class="nav-link" href="/reports/">Reports</a>
                    <a class="nav-link" href="/settings/">Settings</a>
                </nav> 
            </div>
            <div class="container w-50">
                <div class="row">
                    <!--A detailed view of the asset is presented in an unordered list with context passed from the backend.-->
                    <h1 class="pt-3 pb-3"> Asset #{{ asset.id }} </h1>
                    <ul class="list-group">
                            <li class="list-group-item">Manufacturer: {{ asset.manufacturer }}</li> 
                            <li class="list-group-item">Model: {{ asset.model }}</li>
                            <li class="list-group-item">Location: {{ asset.location }}</li>
                            <li class="list-group-item">Serial Number: {{ asset.sn }}</li>
                            <li class="list-group-item">Cost: {{ asset.cost }}</li>
                            <li class="list-group-item">Purchase Date: {{ asset.purchase_date }}</li>
                            <li class="list-group-item">EOL Date: {{ asset.eol_date }}</li>
                    </ul>
                </div>
                <!--A button is provided to take the user to the page to delete this asset.-->
                <div class="row pt-3">
                    <form action="delete/" method="get">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="form-control btn btn-outline-primary"/>
                    </form>
                </div>
                <!--A button is provided to take the user to the update page of this asset.-->
                <div class="row pt-3">
                    <form action="update/" method="get">
                        {% csrf_token %}
                        <input type="submit" value="Update" class="form-control btn btn-outline-primary"/>
                    </form>
                </div>
            </div>
    </body>    
</html>

