<!DOCTYPE html> 
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
    <title>Assets - Details</title>
</head>
<body>
    <form action="/assets" method="get">
        <input type="submit" value="Return to Assets">
    </form>
    <h1> Asset {{ asset.id }} </h1>
    <ul>
            <li>Manufacturer: {{ asset.asset_manufacturer }}</li> 
            <li>Model: {{ asset.asset_model }}</li>
            <li>Serial Number: {{ asset.asset_sn }}</li>
    </ul>
    <form action="delete/" method="get">
        {% csrf_token %}
        <input type="submit" value="Delete"/>
    </form>
    <form action="update/" method="get">
        {% csrf_token %}
        <input type="submit" value="Update"/>
    </form>

</body>

